body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f5ede0;
  color: #2c1a0e;
  font-size: 1rem;
  text-align: center;
}

header {
  max-width: 740px;
  margin: 2rem auto 3rem;
  border-bottom: 1px solid #645151;
  padding-bottom: 1rem;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  list-style: none;
}

header nav ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: #9c7a5e;
}
 
header nav ul li a:hover {
  color: #2c1a0e;
}

img {
    max-width: 40rem;
    border: 2px solid #2c1a0e;
}

h2 {
    border-top: 1px solid #2c1a0e;
    padding-top: 2em;
}

.caption {
    padding-bottom: 2em;
    font-style: italic;
    line-height: 0.5em;
}

#info h2 {
    padding-top: 1em;
}

#info p {
    line-height: 0.5em;
}